html, body {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    background: url('background.jpg');
}
h1 {
    text-align: center;
    color: #06A;
}

#control, #main {
    float: left;
}
#control {
    width: 350px;
}

h2 span, #control label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    font-style: italic;
}
#control form {
    margin: 10px;
    padding: 5px;
    background: rgba(0, 255, 80, 0.5);
}
#control label {
    height: 20px;
    line-height: 20px;
    padding: 3px 5px;
}
#control input[type='text'] {
    font-size: 12pt;
    height: 20px;
    line-height: 20px;
    padding: 2px 5px;
    margin-bottom: 10px;
}
#expression {
    width: 225px;
}
#x1, #x2, #dx, #y1, #y2, #dy {
    width: 40px;
}
.buttons {
    text-align: right;
}
#control button {
    width: 100px;
    margin: 5px 10px;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    border: 0;
    height: 25px;
    line-height: 25px;
    background: green;
}

#main {
    width: calc( 100% - 350px );
    padding-top: 10px;
}
#view {
    position: relative;
    width: 640px;
    height: 480px;
    top: calc( 50% - 240px );
    left: calc( 50% - 320px );
    padding: 0;
}

#control form, #view {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

#control button {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
